div.slides img {
  background-color: #FFFFFF !important;
}

div#mynetwork, div#tree_network {
  height: 500px;
}

div#left {
  top:10%;
  left:-8.33%;
  text-align: left;
  float: left;
  width:80%;
  z-index:-10;

}

div#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:20%;

}